
*{
    margin: 0;
    padding: 0;

}



body {
    background-color:  #e9ecf8;
}

.content-box {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* Contenedor del formulario */
.content-element {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* Cabecera */
header {
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

header img {
    width: 5em;
    margin-left: 70px;
    margin-top: 15px;

}


/*
Formulario */
.form-texto {
    width: 80%;
    height: calc(90vh - 80px);
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}


.text-area-content {
    width: 100%;
    margin-top: 50px;
    height: 400px;
    resize: none;
    font-size: 32px;
    color: #052051;
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    transition: 2s;
}

.text-area-content::placeholder {
    color: black;
}

.botones-styles {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.botones-styles #buttonEnc {
    width: 40%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #D8DFE8;
    background-color: #0A3871;
    color: white;
}

.botones-styles #buttonEnc:hover {
    border-color:  #0A3871 ;
    background-color: #D8DFE8;
    color:#0A3871;;
}

.form-texto span {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.form-texto p{
    color: rgb(61, 61, 61);
    font-size: 15px;
    display: inline-block;

}
.form-texto img {
    width: 15px;
    height: 15px;
    padding: 0 3px;
}

.botones-styles #buttonDes {
    width: 40%;
    height: 50px;
    border-radius: 20px;
    border-color:  #0A3871;
    background-color: #D8DFE8;
    color:#0A3871;
}

.botones-styles #buttonDes:hover {
    border-color:  #D8DFE8 ;
    background-color: #0A3871;
    color:#D8DFE8;;
}

/* Mostrar encriptacion/descriptacion */

.content-show {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-show #show-text {
    width: 90%;
    height: 90vh;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.content-show #show-text img {
    width: 70%;
}


.content-block-2 {
    width: 90%;
    height: 90%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content-block-2 p {
    font-size: 20px;
    text-align: center;
}
#buttonCopy {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    border-color:  #0A3871;
    background-color: #D8DFE8;
    color:#0A3871;
}
#buttonCopy:hover {
    border-color:  #D8DFE8 ;
    background-color: #0A3871;
    color:#D8DFE8;;
}

/* Tablet Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    .content-box {
        flex-direction: column;
    }
    .content-element {
        width: 100%;
    }
    .content-show {
        width: 100%;
        height: auto;
    }
    .content-show #show-text {
        width: 70%;
        padding: 30px;
        height: auto;
        margin-bottom: 20px;
    }
    .content-show img {
        display: none;
    }
    .form-texto {
        padding-top: 30px;
        height: 80vh;
    }

    .botones-styles #buttonEnc  {
        width: 45%;
    }

}


/*Phones Portrait */
@media screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    /* Contenedor Principal */
    .content-box {
        flex-direction: column;
    }
    /* contenedor de formulario */
    .content-element {
        width: 100%;
    }
    .form-texto {
        padding-top: 30px;
        height: 80vh;
    }
    .botones-styles #buttonEnc  {
        width: 45%;
    }
    /* Contenedor el texto encrip/desencrip */
    .content-show {
        width: 100%;
        height: auto;
    }
    .content-show #show-text {
        width: 70%;
        padding: 30px;
        height: auto;
        margin-bottom: 20px;
    }
    .content-show img {
        display: none;
    }

    .botones-styles {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .botones-styles #buttonEnc {
        width: 80%;
        margin: 10px 0;
    }
    .botones-styles #buttonDes {
        width: 80%;
        margin: 10px 0;
    }

}